* {
   margin: 0;
   padding: 0;
}

#lucht{
   
   height: 50vh;
   background-color: lightblue;

}

#grond{
   
   height: 50vh;
   background-color: green;
}


/* Boom */
.boom{
   position: absolute;
   bottom: 80px;
   left: 60px;
}
.boom #stam{
   position: relative;
   height: 300px;
   width: 50px;
   background-color: rgb(139,69,19);
   left: 35px;
   top: -85px;
}

.boom #blaadjes{
   z-index: 1;
   position: relative;
   border-radius: 100%;
   height: 200px;
   width: 200px;
   background-color: darkgreen;
   left: -40px;
   bottom: 80px;

}

/* Huis */
.huis {
   position: absolute;
   left: 300px;
   top: 100px;
}

#dak {
   z-index: 1;
   position: relative;
   width: 0;
   height: 0;
   border-left: 100px solid transparent;
   border-right: 100px solid transparent;
   border-bottom: 100px solid red;
}

#huisbasis {
   width: 200px;
   height: 200px;
   background-color: blue;
   position: absolute;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   border-left: 1px solid #000;
}

#schoorsteen {
   width: 50px;
   height: 70px;
   background-color: #000;
   position: absolute;
   bottom: 20px;
   right: 20px;
}

#deur {
   width: 40px;
   height: 95px;
   background-color: brown;
   position: absolute;
   bottom: 0;
}

#klink {
   width: 5px;
   height: 5px;
   border-radius: 50%;
   position: absolute;
   background-color: #000;
   bottom: 50px;
   left: 30px;
}

#bel {
   width: 5px;
   height: 5px;
   border-radius: 50%;
   position: absolute;
   background-color: #000;
   left: 50px;
   top: 130px;
}

#raam {
   width: 80px;
   height: 80px;
   background-color: #fff;
   position: absolute;
   right: 20px;
   top: 80px;
   border: 3px solid #000;
}


#bus{
  background-color: blue;
  width: 800px;
  height: 270px;
  position:absolute;
  border-radius: 20px;
  bottom: 200px;
  left: 600px;
}
#wheel1{
  background-color: #BFBFBF;
  border:solid 30px #000000;
  width: 65px;
  height: 65px;
  border-radius: 300px;
  position: absolute;
  left: 70px;
  bottom: -60px;
}

#wheel2{
  background-color: #BFBFBF;
  border:solid 30px #000000;
  width: 65px;
  height: 65px;   border-radius: 300px;
  position: absolute;
  left: 600px;
  bottom: -60px;

}

#window1{
  background-color: #dddddd;
  width: 180px;
  height: 120px;
  position: absolute;
  border-radius: 30px;
  left: 15px;
  bottom:130px;
}

#window2{
  background-color: #dddddd;
  width: 180px;
  height: 120px;
  position: absolute;
  border-radius: 30px;
  left: 210px;
  bottom: 130px;
}

#window3{
  background-color: #dddddd;
  width: 180px;
  height: 120px;
  position: absolute;
  border-radius: 30px;
  left: 405px;
  bottom: 130px;
}

#frontglass{
  background-color: #dddddd;
  width: 150px;
  height: 125px;
  position: absolute;
  left: 650px;
  bottom: 130px;
  }\